:host {
  display: block;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
  position: fixed;
  z-index: 1;
}

ol {
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
  list-style: none;
  align-items: stretch;
}

li {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: auto;
  }
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }
}

#name {
  font-weight: bold;
  font-size: 1.2rem;
}
