:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  font-size: 3rem;
  padding-top: 8rem;
}

p {
  font-style: italic;
  text-align: center;
}
