:host {
  display: grid;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: min-content 1fr auto;
  gap: 0.5rem 1rem;
  align-items: center;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  grid-row: 1 / 4;
}

#title {
  grid-column: 2 / 4;
  font-weight: 600;
}

#artist {
  grid-column: 2;
  opacity: 0.8;
}

#price {
  grid-column: 2;
  opacity: 0.8;
}

button {
  grid-column: 3;
  grid-row: 2 / 4;
  justify-self: end;
  align-self: end;
}
