section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

h3, p {
  text-align: center;
}

h3 {
  font-size: 3rem;
  margin-top: 2rem;
}
