:host {
  display: block;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 1rem;
}

#title {
  font-size: 1.5rem;
  font-weight: bold;
}

.genre {
  background-color: aliceblue;
  display: inline;
  width: fit-content;
  padding: 0.25rem .5rem;
  border: 2px solid lightskyblue;
}
